.profile .detailsCantainer {
    display: grid;
    align-items: center;
    justify-items: start;
    grid-template-columns: 40% 20% 40%;
  }
  
  .OrderCardCantainer {
    display: grid;
    grid-template-columns: 15% 65%;
    column-gap: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  .profile .productImage {
    width: 70px;
    width: 100px;
  }
  .profile .productImage img {
    object-fit: contain;
    border-radius: 10px;
    overflow: hidden;
  }
  .titleCantainer > p {
    font-size: 16px;
    margin: 5px;
    text-transform: capitalize;
  }
  .titleCantainer > p:last-child {
    font-size: 12px;
    font-weight: 600;
  }
  .profile .status {
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  
  .StatusIndicater {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: greenyellow;
    margin-right: 10px;
  }