.productGrid{
    display: flex;
    flex: 1;
    row-gap: 40px;
    justify-content: space-around
}

.msg{
    color: red;
    font-size: 15px;
    margin-top: 10px;
}

.cencelX svg {
    padding: 10px;
}

