.productCardcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 270px;
  height: 430px;
  padding: 12px 10px 10px 10px;
  box-shadow: 2px 2px 4px var(--shadow);
}
.productCardcontainer .productImagecontainer {
  position: relative;
  width: 250px;
  height: 300px;
  transition: 0.2s all;
  overflow: none;
  margin-bottom: 5px;
}
.productCardcontainer .ProductLikeCardContener {
  position: absolute;
  top: 18px;
  right: 18px;
}
.productCardcontainer .productImagecontainer img {
  width: 250px;
  height: 300px;
  border-radius: 15px;
}
.LikeIcone {
  color: var(--primary);
}

/* add to card */
.addToCart {
  width: 130px;
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: var(--primary_light);
  transition: 0.2s all;
  border-radius: 5px;
  margin-top: 10px;
}
.addToCart .plus {
  margin: 5px 2px 0 5px;
}
.delPrice del {
  color: #7d7b7b;
}
.priceCardContainer .decount {
  color: var(--primary);
}

/* hover */
.productCardcontainer:hover .addToCart{
  background-color: var(--primary);
}
.productCardcontainer:hover .productImagecontainer {
  transform: translateY(-30px);
  box-shadow: 2px 2px 4px var(--shadow);
  border-radius: 15px;
}
.productCardcontainer:hover{
  background-color: var(--primary_light);
}
/* 1234 */
/* .productCardcontainer:hover .productImagecontainer img{
  scale: 1.05;
} */

.buyButton {
  display: flex;
  border: 1px solid var(--primary);
  border-radius: 5px;
  width: 80px;
  margin-top: 10px;
}
.buyButton div {
  background-color: var(--primary_light);
  padding: 2px 5px 0px 5px;
}
.productCardcontainer:hover .buyButton div {
  background-color: var(--white);
}
.buyButton div:nth-child(2) {
  width: 20px;
  text-align: center;

}
.buyButton div:nth-child(1) {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-right: 1px solid var(--primary);
}
.buyButton div:nth-child(3) {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-left: 1px solid var(--primary);
}
