.home .category {
  display: flex;
  overflow: scroll;
  width: 90%;
  height: 200px;
  justify-content: center;
  align-items: center;
  padding: 20px 50px
}
.home .cartegoryImageContaimner {
  margin-top: 10px;
  width: 150px;
  height: 150px;
  
}
.home .cartegoryImageContaimner img {
  overflow: hidden;
  border-radius: 10px;
  object-fit: cover;
  transition: 0.2s all;
}
.home .categoryCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 200px;
  border-radius: 15px;
  box-shadow: 1px 1px 4px var(--shadow);
  margin: 0 10px;
}
.home .categoryCard:first-child{
  margin-left: 20px;
}
.home .categoryCard > div > span {
  text-transform: capitalize;
  display: block;
  text-decoration: none;
  font-weight: bold;
  margin: 10px;
}

.categoryCard:hover .cartegoryImageContaimner img {
  margin-top: -20px;
  box-shadow: 2px 2px 8px var(--shadow);
  border-radius: 10px;
}

.categoryCard:hover{
    background-color: var(--primary_light);
}